.message-container
{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 10px;
    max-width: 350px;
    height: auto;
}
.sender-and-date
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#sender
{
    color: rgb(59, 58, 55);
    font-size: 12px;
    font-weight: bold;
}
#date
{
    color: #8d8a8a;
    font-size: 11px;
    margin-left: 8px;
}
#time-info
{
    color: #6b6868;
    font-size: 11px;
    display: block;
    text-align: end;
    width: 100%;
}
#message
{
    margin-top: 8px;
    margin-bottom: 0;
    text-align: start;
    font-size: 14px;
}

.other-color
{
    background-color: #d0fecf;
}