.main-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3d3939;
    width: 100vw;
    height: 100vh;
    background-image: url("src/assets/background.jpg");
}
.message-view
{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.left
{
    justify-content: start;
}
.right
{
    justify-content: end;
}

.viewport 
{
  height: 500px;
  width: 90vw;
}
.viewport-duplicate
{
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#search-input
{
    width: 85%;
    height: 45px;
    padding: 10px;
    padding-left: 30px;
    border: 4px solid  #96f192;
}
.search-input-container button
{
    width: 15%;
    height: 45px;
    cursor: pointer;
    background-color: #96f192;
    border: none;
    font-weight: bold;
}
.actions
{
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}
#date-picker
{
   width: 100%;
}

.search-input-container
{
    width: 100%;
}

@media screen and (min-width: 700px) {
    .viewport 
    {
        width: 70vw;
    }
    .actions
    {
        width: 70vw;
    }
}

@media screen and (min-width: 1200px) {
    .viewport 
    {
        width: 60vw;
    }
    .actions
    {
        width: 60vw;
    }
}