<div class="main-container">
  <div class="viewport-duplicate">
    <div class="actions">
    <mat-form-field id="date-picker">
        <input matInput [matDatepicker]="picker" [(ngModel)]="searchDate" (ngModelChange)="dateChanged()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="search-input-container">
        <input id="search-input" type="text" placeholder="{{'Search across ' + (messsages.length | number) + ' messages...'}}" [(ngModel)]="searchText">
    <button (click)="onKeyDown()">Search</button>
      </div>
    </div>

    

    <cdk-virtual-scroll-viewport itemSize="100" class="viewport">
        
          <app-message-view class="message-view" [ngClass]="getClass(message)" *cdkVirtualFor="let message of showMessages" 
        [message]="message" [max]="showMessages.length" (eventEmitter)="called($event)" [key]="this.key">
        </app-message-view>
    </cdk-virtual-scroll-viewport>
  </div>
</div>